
@{
    ViewData["Title"] = "CarDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}



<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-content">
                <p class="lead">@ViewBag.v</p>
 

            


                <div class="pt-5">
                    @await Component.InvokeAsync("_CarDetailCommentComponentPartial",new {id = ViewBag.i})
                    @await Component.InvokeAsync("_CarDetailLeaveACommentComponentPartial")
                </div>

            </div>
            <div class="col-md-4 sidebar">
               
                @await Component.InvokeAsync("_CarDetailCategoryComponentPartial")
@*                 @await Component.InvokeAsync("_CarDetailAboutAuthorComponentPartial",new {id = ViewBag.i})
 *@              

               
            </div>
        </div>
    </div>
</div>