<footer class="site-footer" style="background-color:#5D3EBC">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h2 class="footer-heading mb-4">©2023 M&Y Araç</h2>
                <!-- Mobil Uygulama İndirme Butonları -->
                
            </div>
            <div class="col-lg-8 ml-auto">
                <div class="row">
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4">M&Y Araç Keşfedin</h2>
                        <ul class="list-unstyled"style="color:white">
                            <li><a href="#">Kariyer</a></li>
                            <li><a href="#">Teknoloji Kariyerleri</a></li>
                            <li><a href="#">Sosyal Sorumluluk Projeleri</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4">Yardıma mı ihtiyacınız var?</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">Sıkça Sorulan Sorular</a></li>
                            <li><a href="#">Çerez Politikaları</a></li>
                            <li><a href="#">Aydınlatma Metini</a></li>
                            <li><a href="#">Müşteri Kişisel Verilerin Korunması Politikası</a></li>
                            <li><a href="#">İnternet Sitesi Ziyaretçilerine Yönelik Aydınlatma Metini</a></li>
                            <li><a href="#">Çağrı Merkezi Aydınlatma Metini</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
